.properties_form{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.form_wrapper{
    width: 1617px;
}

.form{
    margin: 80px 0 150px 20px;
    padding: 100px;
    width: 1597px;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.form_userData{
    width: 1398px;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;

}

/*------FORMFIELD---------*/


.form_field_wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: max-content;
}

.form_label{
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    color: white;
}

.form_input{
    background-color: #1A1A1A ;
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 24px 20px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    color: #666666;
}

.form_input_simple{
    width: 312px;
}

/*------FORMSELECT---------*/


.form_input_select{
    width: 312px;
    appearance: none;
}

.select_wrapper {
    position: relative;
}
.select_wrapper:before{
    pointer-events: none;
    content: '';
    position: absolute;
    background-image: url("/public/formSelectArrow.png");
    width: 25px;
    height: 24px;
    background-repeat: no-repeat;
    z-index: 5;
    left: 267px;
    top: 68px;
}

.form_input-budget{
    width: 673px;
    appearance: none;
}

.select_wrapper-budget {
    position: relative;
}
.select_wrapper-budget:before{
    pointer-events: none;
    content: '';
    position: absolute;
    background-image: url("/public/formSelectArrow.png");
    width: 25px;
    height: 24px;
    background-repeat: no-repeat;
    z-index: 5;
    left: 629px;
    top: 68px;
}

/*------FormCheckbox---------*/

.checkbox-false{
    position: relative;
}

.checkbox-false:before{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid #703BF7;
    border-radius: 50%;
    top: 72px;
    left: 272px;

}

.checkbox-true{
    position: relative;
}

.checkbox-true:before{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background-color: #703BF7;
    border: 2px solid #703BF7;
    border-radius: 50%;
    top: 72px;
    left: 272px;

}